;  _____________________________________
; /         - - - WARNING - - -         \
; | This file was written by Ansible.   |
; | It's possible manual changes will   |
; | be overwritten the next time        |
; | ansible is run on this server.      |
; \_____________________________________/
;       \   ^__^
;        \  (oo)\_______
;           (__)\       )\/\
;               ||----w |
;               ||     ||
; {{ ansible_managed }}

[{{ vhost_domain }}]

listen = /var/run/php-fpm/{{ vhost_domain }}.sock

listen.allowed_clients = 127.0.0.1
listen.owner = {{ vhost_user }}
listen.group = {{ webserver }}
listen.mode = 0666

user = {{ vhost_user }}
group = {{ vhost_user }}

pm = static
pm.max_children = 250
pm.max_requests = 10000
pm.process_idle_timeout = 20s

catch_workers_output = yes
slowlog = /var/log/php-fpm/{{ vhost_domain }}-slow.log

php_flag[display_errors] = off
php_admin_flag[log_errors] = on
php_admin_value[error_log] = /var/log/php-fpm/{{ vhost_domain }}-error.log
php_admin_value[memory_limit] = 512M
