;  _____________________________________
; /         - - - WARNING - - -         \
; | This file was written by Ansible.   |
; | It's possible manual changes will   |
; | be overwritten the next time        |
; | ansible is run on this server.      |
; \_____________________________________/
;       \   ^__^
;        \  (oo)\_______
;           (__)\       )\/\
;               ||----w |
;               ||     ||
; {{ ansible_managed }}

; This is a placeholder so php-fpm upgrades don't enable the default pool. 
