#  _____________________________________
# /                                     \
# | This file was written by Ansible.   |
# \_____________________________________/
#       \   ^__^
#        \  (oo)\_______
#           (__)\       )\/\
#               ||----w |
#               ||     ||
# {{ ansible_managed }}

{{ nginx_user }} soft nofile 150000
{{ nginx_user }} hard nofile 150000
