#  _____________________________________
# /         - - - WARNING - - -         \
# | This file was written by Ansible.   |
# | It's possible manual changes will   |
# | be overwritten the next time        |
# | ansible is run on this server.      |
# \_____________________________________/
#       \   ^__^
#        \  (oo)\_______
#           (__)\       )\/\
#               ||----w |
#               ||     ||
# {{ ansible_managed }}

[nginx]
name=nginx official repo
baseurl=http://nginx.org/packages/centos/6/$basearch/
gpgcheck=0
enabled=1
