#  _____________________________________
# /         - - - WARNING - - -         \
# | This file was written by Ansible.   |
# | It's possible manual changes will   |
# | be overwritten the next time        |
# | ansible is run on this server.      |
# \_____________________________________/
#       \   ^__^
#        \  (oo)\_______
#           (__)\       )\/\
#               ||----w |
#               ||     ||
# {{ ansible_managed }}

[remi]
name=Les RPM de remi pour Enterprise Linux 6 - $basearch
mirrorlist=http://rpms.famillecollet.com/enterprise/6/remi/mirror
enabled=1
# Only use remi for redis to reduce conflicts
includepkgs=redis
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-remi
