;  _____________________________________
; /         - - - WARNING - - -         \
; | This file was written by Ansible.   |
; | It's possible manual changes will   |
; | be overwritten the next time        |
; | ansible is run on this server.      |
; \_____________________________________/
;       \   ^__^
;        \  (oo)\_______
;           (__)\       )\/\
;               ||----w |
;               ||     ||
; {{ ansible_managed }}

extension = apc.so
apc.enabled=1
apc.shm_size=256M
apc.stat = 0
