#  _____________________________________
# /         - - - WARNING - - -         \
# | This file was written by Ansible.   |
# \_____________________________________/
#       \   ^__^
#        \  (oo)\_______
#           (__)\       )\/\
#               ||----w |
#               ||     ||
# {{ ansible_managed }}

ZONE="{{ tz }}"
