# CustomerFoo - 1798006
[CustomerFoo-lb]
603560-LB01.CustomerFoo.com
603563-LB02.CustomerFoo.com
[CustomerFoo-db]
603595-DB01.CustomerFoo.com
603598-DB02.CustomerFoo.com
[CustomerFoo-web]
603566-WEB01.CustomerFoo.com
603594-WEB02.CustomerFoo.com
604121-WEB03.CustomerFoo.com

[CustomerFoo:children]
[CustomerFoo-lb]
[CustomerFoo-db]
[CustomerFoo-web]
