#  _____________________________________
# /         - - - WARNING - - -         \
# | This file was written by Ansible.   |
# | It's possible manual changes will   |
# | be overwritten the next time        |
# | ansible is run on this server.      |
# \_____________________________________/
#       \   ^__^
#        \  (oo)\_______
#           (__)\       )\/\
#               ||----w |
#               ||     ||
# {{ ansible_managed }}

[mysqld]

## General
datadir                         = {{ mysql_datadir }}
tmpdir                          = {{ mysql_tmpdir }}
socket                          = {{ mysql_socket }}
skip-external-locking           = 1
skip-name-resolve
sql-mode                        = NO_ENGINE_SUBSTITUTION
#event-scheduler                = 1

## Cache
thread-cache-size               = 16
table-open-cache                = 4096
table-definition-cache          = 2048
query-cache-type                = {{ mysql_query_cache_type }}
query-cache-size                = {{ mysql_query_cache_size }}
query-cache-limit               = {{ mysql_query_cache_limit }}

## Per-thread Buffers
sort-buffer-size                = 2M
read-buffer-size                = 2M
read-rnd-buffer-size            = 8M
join-buffer-size                = 16M

## Temp Tables
tmp-table-size                  = {{ mysql_tmp_table_size }}
max-heap-table-size             = {{ mysql_max_heap_table_size }}

## Networking
back-log                        = 150
max-connections					= {{ mysql_max_connections }}
max-connect-errors              = 10000
max-allowed-packet              = {{ mysql_max_allowed_packet }}
interactive-timeout             = 3600
wait-timeout                    = 20
net_read_timeout                = 30
net_write_timeout               = 30

### Storage Engines
default-storage-engine          = InnoDB
innodb                          = FORCE

## MyISAM
key-buffer-size                 = {{ mysql_key_buffer_size }}
myisam-sort-buffer-size         = {{ mysql_myisam_sort_buffer_size }}

## InnoDB
innodb-lock-wait-timeout		= {{ mysql_innodb_lock_wait_timeout }}
innodb-buffer-pool-size         = {{ mysql_innodb_buffer_pool_size }}
innodb-log-file-size            = {{ mysql_innodb_log_file_size }}
innodb-log-buffer-size          = 8M
innodb-file-per-table           = 1
innodb-thread-concurrency       = 32
innodb-log-files-in-group       = 2
#innodb-open-files              = 300

## Replication
server-id                       = 1
#log-bin                        = /var/log/mysql/bin-log
#relay-log                      = /var/log/mysql/relay-log
relay-log-space-limit           = 16G
expire-logs-days                = 7
#read-only                      = 1
#sync-binlog                    = 1
#log-slave-updates              = 1
#binlog-format                  = STATEMENT
#auto-increment-offset          = 1
#auto-increment-increment       = 2

## Logging
#log-output                     = FILE
slow-query-log                  = 1
slow-query-log-file             = /var/log/mysql/{{ ansible_hostname }}-slow.log
long-query-time                 = 5
#log-queries-not-using-indexes
#log-slow-slave-statements

[mysqld_safe]
log-error                       = /var/log/mysqld.log
open-files-limit                = 65535

[mysql]
no-auto-rehash
