# {{ ansible_managed }}
# {{ ansible_hostname }}

[mysqld]

## General
datadir                         = /var/lib/mysql
tmpdir                          = /var/lib/mysqltmp
socket                          = /var/lib/mysql/mysql.sock
skip-name-resolve
sql-mode                        = NO_ENGINE_SUBSTITUTION
#event-scheduler                = 1

## Cache
thread-cache-size               = 16
table-open-cache                = 4096
table-definition-cache          = 2048
query-cache-size                = 32M
query-cache-limit               = 1M

## Per-thread Buffers
sort-buffer-size                = 1M
read-buffer-size                = 1M
read-rnd-buffer-size            = 1M
join-buffer-size                = 1M

## Temp Tables
tmp-table-size                  = {{ tmp_table_size }}
max-heap-table-size             = {{ max_heap_table_size }}

## Networking
back-log                        = 100
max-connections					= {{ max_connections }}
max-connect-errors              = 10000
max-allowed-packet              = {{ max_allowed_packet }}
interactive-timeout             = 3600
wait-timeout                    = 600

### Storage Engines
#default-storage-engine         = InnoDB
innodb                          = FORCE
innodb-lock-wait-timeout    = {{ innodb_lock_wait_timeout }}

## MyISAM
key-buffer-size                 = 64M
myisam-sort-buffer-size         = 128M

## InnoDB
innodb-buffer-pool-size        = {{ innodb_buffer_pool_size }}
innodb-log-file-size           = {{ innodb_log_file_size }}
#innodb-log-buffer-size         = 8M
#innodb-file-per-table          = 1
#innodb-open-files              = 300

## Replication
server-id                       = 1
#log-bin                        = /var/log/mysql/bin-log
#relay-log                      = /var/log/mysql/relay-log
relay-log-space-limit           = 16G
expire-logs-days                = 7
#read-only                      = 1
#sync-binlog                    = 1
#log-slave-updates              = 1
#binlog-format                  = STATEMENT
#auto-increment-offset          = 1
#auto-increment-increment       = 2

## Logging
#log-output                      = FILE
slow-query-log                  = 1
slow-query-log-file             = /var/log/mysql/{{ ansible_hostname }}-slow.log
#log-queries-not-using-indexes
#log-slow-slave-statements
long-query-time                 = 5

[mysqld_safe]
log-error                       = /var/log/mysqld.log
open-files-limit                = 65535

[mysql]
no-auto-rehash
