# {{ ansible_managed }}
# {{ ansible_hostname }}
#
# MariaDB 5.5 {{ ansible_distribution }} repository list - created 2014-03-23 03:56 UTC
# http://mariadb.org/mariadb/repositories/
[mariadb]
name = MariaDB
baseurl = http://yum.mariadb.org/5.5/centos6-amd64
gpgkey = file:///etc/pki/rpm-gpg/RPM-GPG-KEY-MariaDB
gpgcheck = 1
